.hero {
  width: 100vw;
  height: 65vh; /* full viewport height */
  background: linear-gradient(135deg, #111, #222);
  display: flex;
  align-items: center;
  justify-content: center; /* horizontal centering */
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}


.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.start-btn {
  padding: 12px 24px;
  border: none;
  border: 2px solid #facc15;
  color: #facc15;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.start-btn:hover {
  background-color: #e5b80f;
    color: #111;

}

.sell-btn {
  padding: 12px 24px;
  border: 2px solid #facc15;
  background-color: transparent;
  color: #facc15;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.sell-btn:hover {
  background-color: #facc15;
  color: #111;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }
  .hero-content p {
    font-size: 16px;
  }
  .hero-buttons {
    flex-direction: column;
  }
  .hero-buttons button {
    width: 100%;
  }
}
