.auction-showcase {
  background: white;
  padding: 5px 1px;
}

/* MAIN ROW */
.auction-row {
  position: relative;
  display: flex;
  gap: 20px;
  background: rgb(48, 46, 46);
  border-radius: 24px;
  padding: 20px;
  margin-bottom: 11px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* ENDS IN */
.ends-in {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 0, 0, 0.15);
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

.ends-in span {
  color: #ff4d4d;
}

/* IMAGE */
.auction-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 18px;
}

/* CONTENT */
.auction-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* TITLE */
.auction-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: green;
}

/* DESCRIPTION */
.description {
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* PRICES */
.prices {
  display: flex;
  gap: 40px;
}

.prices span {
  font-size: 14px;
  color: #aaa;
}

.prices strong {
  display: block;
  font-size: 22px;
}

.prices .current {
  color: green;
}

/* CTA SECTION */
.cta-wrapper {
  margin-top: auto;              /* push to bottom */
  display: flex;
  flex-direction: column;
  align-items: flex-end;         /* right align */
  gap: 10px;
}

/* TOTAL BIDS */
.total-bids {
  position: absolute;
  bottom: 80px;
  right: 40px;
  font-size: 14px;
  color: #ccc;
}

.total-bids strong {
  color: #facc15;
}

/* BUTTON */
.cta-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #facc15;
  color: #111;
  border: none;
  padding: 14px 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cta-btn:hover {
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .auction-row {
    flex-direction: column;
  }

  .auction-image,
  .auction-content {
    width: 100%;
  }

  .cta-wrapper {
    align-items: center;
  }
}
